body {
  background-color: #eeeeee;
  font-family: "Open Sans";
}

h1,
h3,
h3,
h5,
h6 {
  color: #cd3f3e;

}

h4, a{
  color: #1c2938;
}

/* 'home' page */
#andy {
  color: #ff9c91;
}

#navbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1c2938;
  z-index: 1;
  margin: 0;
  padding: 8px;

}

.links {
  color: #cd3f3e;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  color: #1c2938;
  font-size: 71.1px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#photocontainer {
  text-align: center;
  position: relative;
  text-align: center;
}

#mainphoto {
  text-align: center;
  opacity: 30%;
  max-width: 100%;
}

.centered {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navbar Links */
a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}
/* Portfilio Images */
#project-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.content {
  flex: 1 0 auto;
}

#myinfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  flex-shrink: 0;
  color: #1c2938;
  text-align: center;
  background-color: #cd3f3e;
  margin: 50px -8px 0px -8px;
  border-bottom: 8px solid #1c2938;
  padding: 5px;
}